:root {
  --primary-color: #c77c43;
  --back-color: #d0b7ac;
  --secondary-color: #593d3b;
  --secondary-color-variant: #593d3b44;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--back-color);
}

p {
  color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  font-size: 40px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 0px 16px;
  height: 100%;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
  display: flex;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.App {
  max-width: 1500px;
  width: 100%;
}

.HeaderImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 3%;
}

.HeaderImage img {
  width: 100%;
}

.Row {
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-bottom: 1%;
}

.Column {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Section {
  flex: 1;
  margin-right: 1%;
  margin-left: 1%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.Section div {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Section h1 {
  margin-top: 0px;
  margin-bottom: 1%;
}

.Section button {
  padding: 2% 5%;
  border: solid 2px var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent;
  cursor: pointer;
}

.Section button:hover {
  background-color: var(--secondary-color-variant);
}

.Section > img {
  max-width: 100%;
}

.Contact {
  width: 90%;
  background-color: #20141e;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.Biography {
  width: 100%;
}

.Relative {
  position: relative;
}

.BulletPoints {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.BulletPoints a {
  font-size: 20px;
  text-align: left;
  padding: 1%;
  width: 100%;
  cursor: pointer;
  margin: 1%;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}

.BulletPoints a:hover {
  background-color: var(--secondary-color-variant);
}

.Contact h1 {
  font-size: 40px;
  color: #91cccf;
  text-align: center;
}

.Contact h2 {
  font-size: 30px;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .HeaderTitle {
    position: unset;
    top: 0;
    right: 0;
    color: var(--primary-color-variant);
    padding: 0;
    font-size: 50px;
    margin: 0;
    width: 100%;
  }
  .Row {
    flex-direction: column;
  }
  .Reverse {
    flex-direction: column-reverse;
  }
  .Section {
    width: 100%;
  }

  .BackImage {
    width: unset;
    height: 100%;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
}
