.App {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #20141E;
}

.HeaderImage {
    position: relative;
    background-color: #000000;
}

.HeaderImage img {
    width: 100%;
}

.HeaderTitle {
    position: absolute;
    top: 10%;
    right: 15%;
    font-size: 50px;
    color: #955A20;
    text-align: center;
    width: 350px;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .HeaderTitle {
        position: unset;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

.HeaderMoreInfoContainer {
    position: absolute;
    top: 22%;
    right: 20%;
    width: 350px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.HeaderMoreInfo {
    font-size: 25px;
    font-weight: normal;
    color: #955A20;
    padding: 1%;
    width: 40%;
    border: solid 2px #955A20;
}

.HeaderMoreInfo:hover {
    background-color: #ffffff11;
}

.Section {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #20141E;
}

.SectionHeader {
    font-size: 40px;
    color: #916633;
    text-align: center;
    width: 350px;
}