body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-height: 100vh;
  background-color: #20141e;
  max-width: 1920px;
  overflow-x: hidden;
}

.Header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.Header h1 {
  font-size: 50px;
  color: #955a20;
  text-align: center;
  padding: 0;
  margin: 0;
}

.Header img {
  width: 800px;
  max-width: 100%;
}

.Row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Row p {
  font-size: 22px;
  width: 50%;
}

.Col {
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Col figure {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Col figure img {
  max-height: 250px;
}

.Main {
  color: white;
  padding: 2%;
}

.VideoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 5%;
}

@media only screen and (max-width: 900px) {
  .Row {
    flex-direction: column;
  }
  .Row p {
    font-size: 22px;
    width: 100%;
  }
  .Col {
    width: 100%;
    align-items: unset;
  }
  .Col figure {
    width: 80%;
  }
  .youtube {
    width: 100%;
  }
}
